<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拖动面板</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>拖动面板</h5>
                        <div class="ibox-tools">
                            <label class="label label-primary">可拖动</label>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                               我是被你玩坏的面板
                            </h2>
                        <p>
                            我是面板，任你脱
                            <br>1.我是面板，任你脱。
                            <br>2.我是面板，任你脱。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins no-drop">
                    <div class="ibox-title">
                        <h5>拖动面板</h5>
                        <div class="ibox-tools">
                            <label class="label label-danger">不可拖动</label>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                               我是被你玩坏的面板
                            </h2>
                        <p>
                            我是面板，任你脱
                            <br>1.我是面板，任你脱。
                            <br>2.我是面板，任你脱。
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>拖动面板</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="draggable_panels.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="draggable_panels.html#">选项1</a>
                                </li>
                                <li><a href="draggable_panels.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                               我是被你玩坏的面板
                            </h2>
                        <p>
                            我是面板，任你脱
                            <br>1.我是面板，任你脱。
                            <br>2.我是面板，任你脱。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>拖动面板</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="draggable_panels.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="draggable_panels.html#">选项1</a>
                                </li>
                                <li><a href="draggable_panels.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                               我是被你玩坏的面板
                            </h2>
                        <p>
                            我是面板，任你脱
                            <br>1.我是面板，任你脱。
                            <br>2.我是面板，任你脱。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins no-drop">
                    <div class="ibox-title">
                        <h5>拖动面板</h5>
                        <div class="ibox-tools">
                            <label class="label label-danger">不可拖动</label>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                               我是被你玩坏的面板
                            </h2>
                        <p>
                            我是面板，任你脱
                            <br>1.我是面板，任你脱。
                            <br>2.我是面板，任你脱。
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>拖动面板</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="draggable_panels.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="draggable_panels.html#">选项1</a>
                                </li>
                                <li><a href="draggable_panels.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                               我是被你玩坏的面板
                            </h2>
                        <p>
                            我是面板，任你脱
                            <br>1.我是面板，任你脱。
                            <br>2.我是面板，任你脱。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/demo/peity-demo.min.js"></script>
    <script>
        $(document).ready(function(){WinMove()});
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>