<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单据表格</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                        <strong>北京百度在线网络技术有限公司</strong><br>
                                        北京市海淀区上地十街10号<br>
                                        <abbr title="Phone">总机：</abbr> 010-1234-5678
                                    </address>
                        </div>
                        <div class="col-sm-6 text-right">
                            <h4>单据编号：</h4>
                            <h4 class="text-navy">H+-000567F7-00</h4>
                            <address>
                                        <strong>阿里巴巴集团</strong><br>
                                        中国杭州市华星路99号东部软件园创业大厦6层(310099)<br>
                                        <abbr title="Phone">总机：</abbr> 010-1234-5789
                                    </address>
                            <p>
                                <span><strong>日期：</strong> 2017-05-11</span>
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th>资产</th>
                                    <th>数量</th>
                                    <th>扫描</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div><strong>资产名称资产名称资产名称资产名称资产名称</strong>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>26</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div><strong>资产名称资产名称资产名称资产名称资产名称</strong>
                                        </div>
                                        <small>测试</small>
                                    </td>
                                    <td>2</td>
                                    <td>26</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div><strong>资产名称资产名称资产名称资产名称资产名称</strong>
                                        </div>
                                    </td>
                                    <td>3</td>
                                    <td>26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /table-responsive -->
                    <table class="table invoice-total">
                        <tbody>
                            <tr>
                                <td><strong>总资产：</strong>
                                </td>
                                <td>102</td>
                            </tr>
                            
                            <tr>
                                <td><strong>总扫描</strong>
                                </td>
                                <td>126</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button class="btn btn-primary"><a href="invoice_print.html" style="color: #fff">打印单据</a></button>
                    </div>
                    <div class="well m-t"><strong>注意：</strong> 数据仅保留30日，过期会自动删除。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>