<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户组管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户组管理</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <a href="javascript:void(0);" class="btn btn-primary boxdemo14">新增</a>
                            <a href="javascript:void(0);" class="btn btn-primary boxdemo14">修改</a>
                            <a href="javascript:void(0);" class="btn btn-primary boxdemo15">删除</a>
                        </div>
                        <div class="col-sm-12" style="margin-top: 30px;">
                            <div class="col-sm-4">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <span class="label label-primary pull-right">新人</span>
                                        <h5>IT-01 - 审核员</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="team-members">
                                            <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a5.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg">
                                            </a>
                                        </div>
                                        <h4>用户组简介</h4>
                                        <p>
                                            用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介。
                                        </p>
                                        <div>
                                            <span>当前项目进度：</span>
                                            <div class="stat-percent">48%</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                        <div class="row  m-t-sm">
                                            <div class="col-sm-4">
                                                <div class="font-bold">项目</div>
                                                12
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="font-bold">周期</div>
                                                4个月
                                            </div>
                                            <div class="col-sm-4 text-right">
                                                <div class="font-bold">预算</div>
                                                &yen;200,913 <i class="fa fa-level-up text-navy"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-4">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <span class="label label-warning pull-right">管理</span>
                                        <h5>IT-02 - 管理层</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="team-members">
                                            <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg">
                                            </a>
                                        </div>
                                        <h4>用户组简介</h4>
                                        <p>
                                            用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介。
                                        </p>
                                        <div>
                                            <span>当前项目进度：</span>
                                            <div class="stat-percent">14%</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 14%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                        <div class="row  m-t-sm">
                                            <div class="col-sm-4">
                                                <div class="font-bold">项目</div>
                                                8
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="font-bold">周期</div>
                                                7个月
                                            </div>
                                            <div class="col-sm-4 text-right">
                                                <div class="font-bold">预算</div>
                                                &yen;40,200 <i class="fa fa-level-up text-navy"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>IT-03 - 普通用户</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="team-members">
                                            <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg">
                                            </a>
                                            <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg">
                                            </a>
                                        </div>
                                        <h4>用户组简介</h4>
                                        <p>
                                            用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介用户组简介。
                                        </p>
                                        <div>
                                            <span>当前项目进度：</span>
                                            <div class="stat-percent">73%</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 73%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                        <div class="row  m-t-sm">
                                            <div class="col-sm-4">
                                                <div class="font-bold">项目</div>
                                                11
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="font-bold">周期</div>
                                                6个月
                                            </div>
                                            <div class="col-sm-4 text-right">
                                                <div class="font-bold">预算</div>
                                                &yen;560,105 <i class="fa fa-level-up text-navy"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="js/plugins/layer/layer.js"></script>
    <script src="js/demo/layer-demo.js"></script>
    <script>
        $(document).ready(function(){$(".contact-box").each(function(){animationHover(this,"pulse")})});
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>

</html>