<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="shortcut icon" href="{% static "imag/favicon.ico"%}">
    <link href={% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css"%}" rel="stylesheet">
    <link href="{% static "css/animate.min.css"%}" rel="stylesheet">
    <link href="{% static "css/style.min.css"%}" rel="stylesheet">
</head>
<body>
<div>
这个地方是个测试页，主要用于显示消息。<br>
这个页面的主题是<h1>{{ name }}</h1>，可以附加很多消息。
</div>
<h1>下面导入一张图片：</h1><img src="{% static "img/example.jpg" %}">

</body>
</html>